.containerbooking {
    background-image: url('./../images/booking.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    background-attachment: fixed;
}

.bookinghead {
    padding-top: 50px;
    color: white;
    font-size: 40px;
    font-family: "Lucida Console", Courier, monospace;
    font-style: italic;
}

.bookingp {
    padding-top: 50px;
    color: white;
    font-size: 20px;
    font-family: "Lucida Console", Courier, monospace;
    font-style: italic;
}
